/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

button {
  font-size: 24px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: inherit;
}

button:hover {
  background-color: #fff;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.primary {
  background-color: #2196f3;
  color: #fff;
  border: none;
}

.primary:hover {
  background-color: #4dabf5;
  color: #fff;
  border: none;
}

.dashed {
  border: 1px dashed #555;
}

.dashed:hover {
  border: 1px dashed #2196f3;
}

.text {
  border: none;
  color: #000;
}

.text:hover {
  background-color: #eee;
  border: none;
}

.link {
  border: none;
  color: #2196f3;
}

.link:hover {
  background-color: #eee;
  border: none;
}
